{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Petting Town{{ block "title" . }}{{ end }}</title>
    <!-- external stuff -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,700,900|Roboto:300,400,500,700,900" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

    <!-- layout -->
    <link rel="stylesheet" href="/static/css/layout/main.css" />

    <!-- theme -->
    <link rel="stylesheet" href="/static/css/themes/dark.css" />

    <!-- Moi importante -->
    <script type="text/javascript">
        const petMethods = [
            {{ range $i, $method := .PetMethods }}
                "{{$method}}",
            {{end}}
        ];
        const webSocketBaseUrl="{{.WebsocketBaseUrl}}";
        {{ if .ValidAcc }}
        const maxCooldowns = {
            {{ $account := .Account }}
            {{ range $i, $method := .PetMethods }}
                "{{ $method }}": {{ $account.GetMaxCooldown $method }},
            {{ end }}
        };
        {{ end }}
        </script>
        {{ block "head" . }}{{ end }}
</head>
<body>
    {{ block "header" . }}{{ end }}
    <div id="general-container">
        <div id="general-top-container">
            <div class="triangle-top-big triangle-top-darkaccnt"></div>
            <div id="general-top">
                <div id="general-top-upper">
                    {{ block "pageupper" . }}{{ end }}
                </div>
                <div id="general-top-lower">
                    {{ block "pagelower" . }}{{ end }}
                </div>
            </div>
            <div class="triangle-bottom-big triangle-bottom-darkaccnt"></div>
        </div>
        <div id="general-bottom-container">
            <div class="container-md" id="container-controller">
                {{ block "content" . }}{{ end }}
            </div>
        </div>
    </div>
    {{ block "footer" . }}{{ end }}
</body>
</html>
{{ end }}
