{{ define "content" }}
<div id="login-content">
    <div class="triangle-top triangle-top-main"></div>
    <h1 class="general-section-header">
        LOGIN
    </h1>
    <div class="general-article-content">
        <div class="triangle-bottom triangle-bottom-main"></div>
        <a href="/login/discord" class="general-button">
            Discord<i class="fa fa-discord general-button-icon"></i>
        </a>
        <a href="/login/google" class="general-button">
            google<i class="fa fa-google general-button-icon"></i>
        </a>
        <a href="/login/github" class="general-button">
            github<i class="fa fa-github general-button-icon"></i>
        </a>
        <a href="/login/gitlab" class="general-button">
            gitlab<i class="fa fa-gitlab general-button-icon"></i>
        </a>
        <a href="/login/reddit" class="general-button">
            reddit<i class="fa fa-reddit general-button-icon"></i>
        </a>
        <a href="/login/vk" class="general-button">
            vk<i class="fa fa-vk general-button-icon"></i>
        </a>
        <p id="login-snippet">If you would like a different login option that is not here, contact us on our <a href="https://discord.gg/FXvHNUy" target="_blank" class="general-article-link">Discord</a> server about it and we will see what we can do.</p>
    </div>
    <div class="triangle-bottom triangle-bottom-light"></div>
</div>
<script type="text/javascript">
let page = 'lower';
let container;
</script>
<script type="text/javascript" src="/static/js/generalPurpose.js"></script>
{{ end }}
