{{ define "pageupper" }}
page not found
{{ end }}

{{ define "pagelower" }}
<div class="fa fa-exclamation-triangle general-warning"></div>
{{ end }}

{{ define "content" }}
<script type="text/javascript">
let page = 'upper';
let container;
</script>
<script type="text/javascript" src="/static/js/generalPurpose.js"></script>
{{ end }}